body {
	margin: 10px;
	border-bottom: 1px solid gray;
}

main{
    text-align: center;
    margin: 15px;
}

footer{
    text-align: center;
}

select{
    background-color: #ffffff;
    min-width: 160px;
    padding: 10px 10px;
    z-index: 1;
}

.line{
    border: 0.5px solid rgb(0, 0, 0);
}

div{
    text-align: center;
}

.button{
    border:none;
    display:inline-block;
    padding:10px 30px;
    text-align: center;
    text-decoration:none;
    color: white;
    background-color:rgb(21, 177, 91);
    cursor:pointer;
}


#ui_nav{
    text-align: center;
}

#ui_nav ul{
    
    border: 0.5px solid rgb(0, 0, 0);
    text-align: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    background-color: rgb(199, 199, 199);

}

.nav{
    width:100%;
    background-color: rgb(21, 177, 91);
    text-align: center;
    text-decoration: none;
    border: none;
}

#ui_nav li{
    
    background-color:transparent;
    margin: 5px;
    display: block;
    padding: 2px;
    font-weight: bold;
}

#ui_nav li:hover{
    background-color: rgb(90, 207, 143);
}
   

/*mid screen size*/
@media screen and (min-width: 40em) {
    #ui_nav {
        
    }

    #ui_nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
    }

    #ui_nav li {
        flex: 1;
    }

}

form, table{
    text-align: center;
    display: inline;
}

.submit, .cancel{
    text-align: center;
    color: white;
    padding: 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 90%;
    background-color: #34a4ff;
}

.cancel{
    background-color: #727272;
}

.submit:hover, .cancel:hover{
    opacity:100%;
}

input[type=text], input[type=password], input[type=email], input[type=password]{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    border: none;
    background: #e4e4e4;
}

#ui_stats{
    width:25%;
    border:none;
    padding: 0px 100px;
    background-color: rgb(104, 199, 136);
    width: 30%;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0);
}

#restart {
    width:140px;
}
